body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/1024px-Star_Wars_Logo.svg.png");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

body>img {
  margin: 0 10px;
}

img {
  max-height: 250px;
}

.btn-grad {
  flex-grow: 1;
  width: 30%;
  /* Ajuste a largura relativa dentro da div */
  background-image: linear-gradient(to right, #16222A 0%, #3A6073 51%, #16222A 100%);
  margin: 10px;
  padding: 10px 35px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.div-input-url {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.url-input {
  font-size: 16px;
  flex-grow: 3;
  margin-right: 10px;
  width: 70%;
}